# 忽略所有可执行文件
matrix_product
matrix_product_naive
vector_add
mm_naive
mm_shared

# 忽略编译产生的中间文件
*.o

# 忽略 CUDA/NVIDIA profiling 报告
*.nsys-rep
*.ncu-rep
*.sqlite

# 忽略 CUDA 编译临时文件
*.ptx
*.cubin
*.fatbin

# 忽略 Codex 本地临时文件
.codex
